<div class="main_header">
  <div class="main_header_left">
    <div class="room_name">
      hogefuga
    </div>
  </div>
  <div class="main_header_right">
    <div class="exit_room">
      <a href="">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat">
  <div class="chat_content">
    <div class="chat_name_date">
      <div class="chat_name">
        Tom
      </div>
      <div class="chat_date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="chat_text">
      おはよう
    </div>
  </div>
</div>

<div class="form">
  <div class="message_form">
    <input placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="send">
</div>